<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EZInventoryEntities" connectionString="metadata=res://*/EZInventoryModel.csdl|res://*/EZInventoryModel.ssdl|res://*/EZInventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KENSON\SQLEXPRESS;initial catalog=EZInventory;persist security info=True;user id=sa;password=vbpass12#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>