@model EZInventory.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>

   <table><tr><td style="vertical-align:top">
    @using (Html.BeginForm())
    {
    <div>
         <table style="width:190px">
             <tr>
                 <td>Email:</td>
                 <td>@Html.TextBoxFor(m => m.email)</td>
             </tr>
             <tr>                 
                 <td>Password:</td>
                 <td>@Html.PasswordFor(m => m.password)</td>
             </tr>
            <tr>
                <td></td>
                <td style="padding-left:3px">
                 <input type="submit" value="Log In" />
                </td>
            </tr>
             <tr>
                 <td colspan="2" class="req">
                     @ViewBag.Message
                 </td>
             </tr>
         </table>
        <br />
     </div>
    }
</td>
</tr></table>
